body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #5a2a4e, #24243e);
}

.main {
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  position: relative;
}

#chk {
  display: none;
}

.signup,
.login {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.signup {
  background: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  background: #eee;
  z-index: 1;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chk:checked ~ .login {
  transform: translateY(0);
  z-index: 2;
}

#chk:checked ~ .signup {
  transform: translateY(100%);
  z-index: 1;
}

label {
  color: #573b8a;
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  margin: 50px 0;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

input {
  width: 80%;
  background: #e0dede;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  width: 80%;
  background: #573b8a;
  color: #fff;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
}

button:hover {
  background: #6d44b8;
}
